@model JogoDoNilson.Models.GameEngine

@{
    ViewBag.Title = "battle";
}

@section header{

    @Styles.Render("~/content/battle.css")
    
    @Html.Partial("script/battle");

}
<div class="battleTitle"><span>SEU TURNO</span></div>

<div class="battleWrapper">

    <div class="statusPlayer player1">
        @*<div class="graveyard">

        </div>*@
        <div class="deck">
            <div class="cardsCount">
                @Model.PlayerOne.Deck.CardsCount
            </div>
        </div>

        <div class="status" style="background: url(@Url.Content(Model.PlayerOne.AvatarImage))">
            <div class="playerLifeBar">
                @Model.PlayerOne.Life
            </div>
            <div class="playerManaBar">
                @Model.PlayerOne.ManaCurrent
            </div>
        </div>
    </div>
    <div class="field">
        <div class="computerHand">

        </div>

        <div class="computerField">
            <div class="defenseField"></div>
            <div class="atackField"></div>
        </div>

        <div class="playerField">
            <div class="atackField"></div>
            <div class="defenseField"></div>
        </div>

        <div class="playerHand">

            @{
                int left = 200;
                int rotate = -10;
                int zindex = 5;
            }
            @foreach (var card in Model.PlayerTwo.Hands)
            {
                ViewBag.Left = left;
                ViewBag.ZIndex = zindex--;

                @Html.Partial("card", card)


                left = left + 150;
            }
        </div>
    </div>

    <div class="statusPlayer player2">

        <div class="status" style="background: url(@Url.Content(Model.PlayerTwo.AvatarImage))">
            <div class="playerLifeBar">
                @Model.PlayerTwo.Life
            </div>
            <div class="playerManaBar">
                @Model.PlayerTwo.ManaCurrent
            </div>
        </div>
        <div class="finishButton">
            Finalizar Ofensiva
        </div>
        <div class="finishDefenseButton" style="width:100px;height:100px">
            Finalizar Defesa
        </div>
        <div class="deck">
            <div class="cardsCount">
                @Model.PlayerTwo.Deck.CardsCount
            </div>
        </div>
        
        
       @* <div class="graveyard">

        </div>*@
    </div>
</div>
<div class="modalMenu">
    <ul>
        <li onclick="putCard(this)" class="jsHand">Baixar carta</li>
        <li onclick="attack()" class="jsDef jsAtk">Atacar</li>
        <li onclick="forward()" class="jsDef">Avançar</li>
        <li onclick="retreat()" class="jsAtk">Recoar</li>
        <li class="jsHand jsDef jsAtk">Cancelar</li>
    </ul>
</div>

<audio autoplay loop>
  <source src="@Url.Content("~/Content/audio/battle.mp3")" type="audio/mpeg">
</audio>

@section Scripts{
    @Scripts.Render("~/Scripts/battle.js");
}
