<!DOCTYPE html>
<html lang="pt">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

        @RenderSection("header", required: false)
    </head>
    <body>
        <div id="body">
                @RenderBody()
            <audio id="mdSfxCard" preload="auto">
                <source src="@Url.Content("~/Audio/CardDown.wav")" />
            </audio>
            <audio id="mdSfxNav" preload="auto">
                <source src="@Url.Content("~/Audio/Nav.wav")" />
            </audio>
        </div>

        
    </body>
</html>
