@{
    ViewBag.Title = "Sobre";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use esta área para fornecer informações adicionais.
    </p>

    <p>
        Use esta área para fornecer informações adicionais.
    </p>

    <p>
        Use esta área para fornecer informações adicionais.
    </p>
</article>

<aside>
    <h3>Título à parte</h3>
    <p>
        Use esta área para fornecer informações adicionais.
    </p>
    <ul>
        <li>@Html.ActionLink("Página inicial", "Index", "Home")</li>
        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
        <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
    </ul>
</aside>